{% load staticfiles %}

<footer class="footer">
    <div class="container">
        <p class="text-muted">&copy; 2016 Kadir Has University. Powered By Hitachi</p>
    </div>
</footer>


<!-- Modal File Upload -->
<div class="modal fade" id="upload-file" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Upload File(s)</h4>
            </div>
            <div class="modal-body">
                <div id="dropzone">
                    <form action="http://www.torrentplease.com/dropzone.php" class="dropzone dz-clickable"
                          id="demo-upload">
                        <div class="dz-message">Drop files here or click to upload.
                            <br>
                            <span class="note">(This is just a demo dropzone. Selected files are <strong>not</strong> actually uploaded.)</span>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>
  $.ajaxSetup({beforeSend: function(xhr, settings){
    xhr.setRequestHeader('X-CSRFToken',
                         '{{ csrf_token }}');
  }});


    </script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/noty/packaged/jquery.noty.packaged.min.js' %}"></script>
    <script src="{% static 'js/dropzone.js' %}"></script>
    <script src="{% static 'js/hcphandler.js' %}"></script>
    </body>
    </html>