{% include "header.html" %}
<!-- Begin page content -->
<div class="container">
    <div class="table-responsive" style="overflow-x: visible;">
        <table class="table table-hover">
            <thead>
            <tr>
                <th></th>
                <th></th>
                <th>Name</th>
                <th>Storage Class</th>
                <th>Size</th>
                <th>Last Modified</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><input type="checkbox" value=""></td>
                <td><img src="https://cdn4.iconfinder.com/data/icons/48-bubbles/48/12.File-16.png"/></td>
                <td>Turkcell_Mobil_Uygulamalar_Kilavuzu-28.08.2014.pdf</td>
                <td>Standard</td>
                <td>8.2 MB</td>
                <td>27 February 2016 at 02:46</td>
                <td>
                    <!-- Single button -->
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            Actions <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Open File</a></li>
                            <li><a href="#">Download File</a></li>
                            <li><a href="#">Manage File</a></li>
                            <li><a href="#">Share File</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Delete File</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td><input type="checkbox" value=""></td>
                <td><img src="https://cdn4.iconfinder.com/data/icons/48-bubbles/48/12.File-16.png"/></td>
                <td>Turkcell_Mobil_Uygulamalar_Kilavuzu-28.08.2014.pdf</td>
                <td>Standard</td>
                <td>8.2 MB</td>
                <td>27 February 2016 at 02:46</td>
                <td>
                    <!-- Single button -->
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            Actions <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td><input type="checkbox" value=""></td>
                <td><img src="https://cdn4.iconfinder.com/data/icons/48-bubbles/48/12.File-16.png"/></td>
                <td>Turkcell_Mobil_Uygulamalar_Kilavuzu-28.08.2014.pdf</td>
                <td>Standard</td>
                <td>8.2 MB</td>
                <td>27 February 2016 at 02:46</td>
                <td>
                    <!-- Single button -->
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            Actions <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td><input type="checkbox" value=""></td>
                <td><img src="https://cdn4.iconfinder.com/data/icons/48-bubbles/48/12.File-16.png"/></td>
                <td>Turkcell_Mobil_Uygulamalar_Kilavuzu-28.08.2014.pdf</td>
                <td>Standard</td>
                <td>8.2 MB</td>
                <td>27 February 2016 at 02:46</td>
                <td>
                    <!-- Single button -->
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            Actions <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td><input type="checkbox" value=""></td>
                <td><img src="https://cdn4.iconfinder.com/data/icons/48-bubbles/48/12.File-16.png"/></td>
                <td>Turkcell_Mobil_Uygulamalar_Kilavuzu-28.08.2014.pdf</td>
                <td>Standard</td>
                <td>8.2 MB</td>
                <td>27 February 2016 at 02:46</td>
                <td>
                    <!-- Single button -->
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            Actions <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td><input type="checkbox" value=""></td>
                <td><img src="https://cdn4.iconfinder.com/data/icons/48-bubbles/48/12.File-16.png"/></td>
                <td>Turkcell_Mobil_Uygulamalar_Kilavuzu-28.08.2014.pdf</td>
                <td>Standard</td>
                <td>8.2 MB</td>
                <td>27 February 2016 at 02:46</td>
                <td>
                    <!-- Single button -->
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            Actions <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td><input type="checkbox" value=""></td>
                <td><img src="https://cdn4.iconfinder.com/data/icons/48-bubbles/48/12.File-16.png"/></td>
                <td>Turkcell_Mobil_Uygulamalar_Kilavuzu-28.08.2014.pdf</td>
                <td>Standard</td>
                <td>8.2 MB</td>
                <td>27 February 2016 at 02:46</td>
                <td>
                    <!-- Single button -->
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            Actions <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td><input type="checkbox" value=""></td>
                <td><img src="https://cdn4.iconfinder.com/data/icons/48-bubbles/48/12.File-16.png"/></td>
                <td>Turkcell_Mobil_Uygulamalar_Kilavuzu-28.08.2014.pdf</td>
                <td>Standard</td>
                <td>8.2 MB</td>
                <td>27 February 2016 at 02:46</td>
                <td>
                    <!-- Single button -->
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            Actions <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td><input type="checkbox" value=""></td>
                <td><img src="https://cdn4.iconfinder.com/data/icons/48-bubbles/48/12.File-16.png"/></td>
                <td>Turkcell_Mobil_Uygulamalar_Kilavuzu-28.08.2014.pdf</td>
                <td>Standard</td>
                <td>8.2 MB</td>
                <td>27 February 2016 at 02:46</td>
                <td>
                    <!-- Single button -->
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            Actions <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td><input type="checkbox" value=""></td>
                <td><img src="https://cdn4.iconfinder.com/data/icons/48-bubbles/48/12.File-16.png"/></td>
                <td>Turkcell_Mobil_Uygulamalar_Kilavuzu-28.08.2014.pdf</td>
                <td>Standard</td>
                <td>8.2 MB</td>
                <td>27 February 2016 at 02:46</td>
                <td>
                    <!-- Single button -->
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            Actions <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td><input type="checkbox" value=""></td>
                <td><img src="https://cdn4.iconfinder.com/data/icons/48-bubbles/48/12.File-16.png"/></td>
                <td>Turkcell_Mobil_Uygulamalar_Kilavuzu-28.08.2014.pdf</td>
                <td>Standard</td>
                <td>8.2 MB</td>
                <td>27 February 2016 at 02:46</td>
                <td>
                    <!-- Single button -->
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            Actions <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td><input type="checkbox" value=""></td>
                <td><img src="https://cdn4.iconfinder.com/data/icons/48-bubbles/48/12.File-16.png"/></td>
                <td>Turkcell_Mobil_Uygulamalar_Kilavuzu-28.08.2014.pdf</td>
                <td>Standard</td>
                <td>8.2 MB</td>
                <td>27 February 2016 at 02:46</td>
                <td>
                    <!-- Single button -->
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            Actions <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

{% include "footer.html" %}